@import "styles/mixins";

.input {
  @include animate(border-color, color);

  border: 2px solid $green-leaf;
  padding: 11px 17px;
  outline: none;
  background-color: transparent;
  color: $black;

  &:focus {
    border-color: $green-leaf
  }
}