@import "styles/mixins";

.area {
  padding: 60px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('<=tablet') {
    @include background;

    padding: 55px 0 40px;
  }

  &__title {
    @include sectionTitle;
}

  &__swiper {
    margin-top: 60px;

    @include media('<=tablet') {
      margin-top: 35px;
    }
  }

  &__slide {
    &-img {
      max-width: 950px;
      width: 100%;
      object-fit: contain;
    }
  }

  &__indicator {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid $white;
    display: inline-block;
    margin-right: 13px;
    cursor: pointer;

    @include media('<=tablet') {
      width: 8px;
      height: 8px;
      margin-right: 7px;
    }

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background-color: $white;
    }
  }

  &__location {
    @include sectionContent;

    max-width: 346px;
    margin-top: 60px;
    display: block;
    color: $black;

    @include media('<=tablet') {
      margin-top: 35px;
      max-width: 310px;
    }
  }

  &__map {
    margin-top: 60px;

    @include media('<=tablet') {
      margin-top: 35px;
    }
  }
}