@import "vars";
@import "include-media/dist/_include-media.scss";

$breakpoints: (
  'iphoneSE': 375px,
  'phone': 390px,
  'tablet': 768px,
  'desktop': 1024px,
);

@mixin hideScrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@mixin lg-limit {
  max-width: 1080px;
  width: 100%;
  padding: 0 40px;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin cormorantFont {
  font-family: 'Cormorant', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}