@import "vars";
@import "include-media/dist/_include-media.scss";

$breakpoints: (
  'iphoneSE': 375px,
  'phone': 390px,
  'tablet': 768px,
  'desktop': 1024px,
);

@mixin hideScrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@mixin lg-limit {
  max-width: 1080px;
  width: 100%;
  padding: 0 40px;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin cormorantFont {
  font-family: 'Cormorant', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@mixin sectionTitle {
  @include cormorantFont;

  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  user-select: none;
  text-transform: uppercase;
  text-align: center;

  @include media('<=tablet') {
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }
}

@mixin sectionContent {
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
  text-align: center;

  &_bold {
    font-weight: 600;
  }


  @include media('<=tablet') {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}

@mixin background {
  background: $green-gradient;
}

@mixin animate($property...) {
  $animatedProperty: #{""};

  @if length($property) > 1 {
    @for $i from 1 through length($property)-1 {
      $animatedProperty: $animatedProperty nth($property, $i) $transition-normal #{", "};
    }
  }

  transition: $animatedProperty nth($property, length($property)) $transition-normal;
}

@mixin hoverable() {
  @include media(">tablet") {
    &:hover {
      @content;
    }
  }

  &:active {
    @content;
  }
}

@mixin backgroundImage {
  height: 100vh;
  background: url('../sections/img/bg-lg.png') no-repeat center;
  background-size: cover;

  @include media("<=tablet") {
    background-image: url('../sections/img/bg-tablet.png');
  }
}
