@import "styles/mixins";

.manager {
  @include sectionContent;

  padding: 40px 0;
  overflow: hidden;

  @include media('<=tablet') {
    @include background;

    padding: 55px 40px 0;
  }

  &__title {
    @include sectionTitle;
  }

  &__content {
    margin: 30px auto 0;
    max-width: 590px;
    position: relative;
    z-index: 1;

    @include media('<=tablet') {
      margin-top: 20px;
    }
  }

  &__imgs {
    display: flex;
    padding-bottom: 116px;
    justify-content: center;

    @include media('<=tablet') {
      display: block;
      padding-bottom: 20px;
    }
  }

  &__img {
    width: 566px;
    object-fit: contain;

    @include media('<=tablet') {
      width: 491px;
    }

    &_1 {
      position: relative;
      top: 112px;

      @include media('<=tablet') {
        display: block;
        top: 0;
      }
    }

    &_2 {
      @include media('<=tablet') {
        left: -100px;
        position: relative;
        transform: rotate(19deg);
        top: -20px;
      }
    }
  }
}