@import "styles/mixins";

.wishes {
  padding: 30px 0 60px;
  overflow: hidden;

  @include media('<=tablet') {
    @include background;

    padding: 30px 40px 0;
  }

  &__title {
    @include sectionTitle;
  }

  &__content {
    @include sectionContent;

    max-width: 590px;
    margin: 30px auto 0;

    @include media('<=tablet') {
      margin-top: 20px;
    }
  }

  &__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    width: 100%;
    margin: 20px auto 0;
  }

  &__img {
    width: 100%;
    object-fit: contain;
    position: relative;

    @include media('<=tablet') {
      width: 250px;
    }

    &_1 {
      top: 23px;
      left: -42px;

      @include media('<=tablet') {
        top: -50px;
        left: -200px;
      }
    }

    &_2 {
      left: 53px;
      top: 100px;

      @include media('<=tablet') {
        left: -105px;
        top: 0;
      }
    }

    &_3 {
      right: -143px;
      top: 33px;

      @include media('<=tablet') {
        right: 0;
        top: -70px;
      }
    }
  }
}