@import "styles/mixins";

.item {
  @include sectionContent;

  &__time {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: $green-leaf;
  }

  &__content {
    margin-top: 10px;

    @include media('<=tablet') {
      margin-top: 7px;
    }
  }
}